

.section {
 text-align: center;
}
.buttons {
 height: 45px;
 margin: 6px 3px 0px;
 position: relative;
}

.buttons a {
 width: 214px;
 height: 40px;
}

}
.buttons a:hover {
 background: #A0A0A0;
 border-color: #ffffff;
}

.createaccount, .recoveraccount {
 display: block;
 text-align: center;
 cursor: pointer;
}

.createaccount {
 float:left;
}

.recoveraccount {
 float:right;
}


a:hover .buttbg, a:hover .butt1bg {
 background-position: left bottom;
}
#brown_box_login {
 width: 434px;
 margin: auto;
}
#inner_brown_box_login {
 width: 434px;
 padding: 0px;
 text-align: center;
}
#inner_brown_background_login {
 padding: 15px 0px 15px 0px;
}
.browser_window {
 margin:auto;
 width: 414px;
}
#dont {
 margin:auto;
 padding-top:10px;
}



.hideme_wrapper {
 font-size:8pt;
 width:auto;
 margin:auto;
 text-align:center;
}

#hideme {
 display:inline;
 width:400px;
}

.loginapplet_wrapper {
 height: 200px;
 width: 400px;
 padding: 7px;
 margin: 2px auto auto auto;
 background-repeat: no-repeat;
 background-image: url('../img/main/loginpage/border.png');
}
.input { 
  background: url(../img/main/home/input-bg.png) repeat-x;
  font: 11px Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #513e24;
  padding: 4px;
}
.button-bg {
  background: url(../img/main/home/input-bg.png) repeat-x;
  font: 11px Verdana, Arial, sans-serif;
  font-weight: bold;
  }

.manual_wrapepr {
 font-size:9pt;
 width:400px;
 margin:auto;
}

#manualredirect {
 display:none;
 width:400px;
}



.login_form {
  background-color: #2c210d;
  height: 200px;
  width: 400px;
}

#login_form {
 padding-top: 50px;
}

.section_form {
 width: 360px;
 margin: 3px auto;
 height: auto;
}
